@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body {
    margin: 0;    
    padding: 0;
    font-family: 'Sono', sans-serif;
    box-sizing: border-box;
    }
    .nave {
        display: flex;
        justify-content: space-between; 
        background: none;
        border: none;
        width: 100%;
        }
        .logo {
        margin-top: 8px;
        margin-left: 20px;    
        }
        .menu a {
            display: block;
            padding: 15px 20px;
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 20px;  
            height:auto;
        }

        .menu {
        
            display: flex;
            margin-right: 20px;
            
            }

    .open-menu{
        position: relative;
        margin-top: 200px;
    }
    .open-menu,.close-menu{
        display: none;
        }

        .close {
            position: absolute;
            top: 30px;
            right: 15px;
            width: 40px;
            cursor: pointer;
        }
        .menu a:hover  {
            background: #0f9b0f;
            color: white; 
            height: 70%; 
            transition: all 0.5s ease ;
            }   
             
      /*boton volver*/
      .volver-container {
        position: fixed;
        bottom: 80px;
        right: 80px;
      }
    
      .btn-volver {
        display: inline-block;
        padding: 10px;
        background-color: #0bed6d;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s all ease-in-out;
        z-index: 100;
      }
      .btn-volver img {
        width: 40px;
      }
      .btn-volver:hover {
        background-color: #36be46;
        transform: scale(1.1) rotate(360deg);
      }
        header {
            background: url(../img/papi.jpg) no-repeat center;
            height: 100vh ;
            opacity: 0.9;
            background-size: cover;
        }
        header div {
        color: #f0e9e9;    
        }
            .wave {
            bottom: 0;
            left: 0;
            position: absolute;
            z-index: -1;
           }

           * {
            margin: 0; 
            padding: 0;
            box-sizing: border-box;
        }
        
        section { 
            min-height: 100vh;
            background: linear-gradient(to top, #191a19, #191a19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            font-family: 'Raleway', sans-serif; 
        }
        
        .titulo {

            font-size: 50px;
            font-family: 'Yeseva One';
            margin-bottom: 40px;
            color: #fff;
        }
        .carousel {
            min-height: 400px;
        }
        .tit {
        text-align: center;
        margin-top: 100px;
        
        }

        .carousel .carousel-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            user-select: none;
            width: 500px;
            height: 400px;
        }
        .carousel .carousel-item img {
        
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 40px;        
        }

        .carousel .indicators .indicator-item{
        border-radius: 0;
        transform: rotate(45deg);
        margin: 0 15px;
        background: #19f7ff;
        }

section {
display: flex;  
flex-wrap: wrap;
justify-content: center; 
width: 100%;
margin: 0;
}
.container-fluid {
width: 100%;
margin: 0;
opacity: 0;
}
.container-fluid img {
    width: 100%;
    height: 530px;
    }

.section h1 {
 text-align: center;   
} 

                
footer{
    background-image: linear-gradient(to bottom, #434343 0%, black 100%);
    padding-bottom: 0.1px;
    
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}


.contact-us{
    width: 40%;
    color: #fff;
}

.brand{
    flex-wrap: nowrap;
    font-weight: 500;
    font-size: 40px;
}
.brand  {
margin: 0;
}
.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

.social-media-icon:hover{
    background: #fff;
    color:#36be46;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
  /*modernizr*/
  .no-boxshadow * {
    box-shadow: none;
    }
    .no-cssgradients nav a:hover {
    background-color: #36be46;
    color: #fff;
    }    
    .no-flexbox .nave {
    display: inline-block;
    width: 100%;
    }
      
@media screen and (max-width: 764px){
    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        align-items: center;    
        background-image: linear-gradient(to bottom, #434343 0%, black 100%);
        overflow-y: auto;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        }
            .wave {
display: none;
       }
        .open-menu,.close-menu{
            display: block;  
            background:none;
            border: none; 
            align-self: flex-end;
            margin: 15px 35px;
            cursor: pointer;
            }
            .menu_opened {
            opacity: 1;
            pointer-events: all;    
            }
                .menu a:hover  {
                  background-image: linear-gradient(to left, #434343 0%, rgb(47, 43, 43) 100%);
                  height:7%;
                  }
            a {
                width: 91%;    
                text-align: center;
                border-radius: 5px;
                }

    .subtitulo{
        font-size: 30px;
    }

    .img-galeria{
        width: 95%;
    }
    
    .agregar-imagen{
        width: 90%;
    }

    .social-media{
        width: 100%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 95%;
        margin-bottom: 40px;
    }
    .contact-us img {
        width: 50%;
        height: 50%;
        margin: auto 120px;    
    }
    a:hover {
    height: auto;    
    }
}
@media screen and (max-width:490px) {
      .btn-volver img {
          width:30px;
      }
    .titulo,.brand {
        font-size: 30px;
    }
    header {
        height: 70vh;
    }
    section {
        min-height: 70vh;
    }
    .wave {
display: none;
       }
    .logo img {
        width:180px;
        height:80px;
    }
} 
