@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body {
    margin: 0;    
    padding: 0;
    font-family: 'poppins', sans-serif;
    }
    .nave {
        display: flex;
        justify-content: space-between; 
        background: none;
        width: 100%;
        height: auto;
        }
        .logo {
        margin-left: 20px;    
        }
        .menu a {
            display: block;
            padding: 23px 20px;
            color: white;
            text-decoration: none;
            font-size: 20px;  
            overflow:visible;
        }
        nav a:hover  {
            background: #0f9b0f;
            color: white; 
            height: 70%; 
            transition: all 0.5s ease ;
            }   
    
        .menu {
        
            display: flex;
            margin-right: 20px;
            }

.open-menu,.close-menu{
    display: none;    
    }
    .close{
        position: absolute;
        top: 30px;
        right: 15px;
        width: 40px;
        cursor: pointer;
    }
    
      /*boton volver*/
      .volver-container {
        position: fixed;
        bottom: 80px;
        right: 80px;
      }
    
      .btn-volver {
        display: inline-block;
        padding: 10px;
        background-color: #0bed6d;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s all ease-in-out;
      }
      .btn-volver img {
        width: 45px;
      }
      .btn-volver:hover {
        background-color: #36be46;
        transform: scale(1.2) rotate(360deg);
      }     

    header {
    background: url(../img/cow.jpg);   
    height: 100vh;
    background-size: cover; 
    }  
        section {
        display: flex;
        flex-wrap: wrap;    
        }
        
            footer{
                background-image: linear-gradient(to bottom, #434343 0%, black 100%);
                padding-bottom: 0.1px;
                
            }
            
            .footer-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                padding-top: 60px;
                padding-bottom: 40px;
            }
            
            
            .contact-us{
                width: 40%;
                color: #fff;
            }
            
            .brand{
                flex-wrap: nowrap;
                font-weight: 500;
                font-size: 40px;
            }
            .brand  {
            margin: 0;
            }
            .brand+p{
                font-weight: 500;
            }
            
            .social-media{
                width: 50%;
                display: flex;
                justify-content: flex-end;
            }
            
            .social-media-icon{
                display: inline-block;
                margin-left: 20px;
                width: 60px;
                height: 60px;
                border: 1px solid #fff;
                border-radius: 50%;
                text-align: center;
                color: #fff;
            }
            
            .social-media-icon i{
                font-size: 30px;
                line-height: 60px;
            }
            
            .line{
                width: 90%;
                max-width: 1200px;
                margin: auto;
                height: 2px;
                background: #fff;
                margin-bottom: 60px;
            }
            
            .social-media-icon:hover{
                background: #fff;
                color:#36be46;
            }
            .contenedor{
                width: 90%;
                max-width: 1200px;
                overflow: hidden;
                margin: auto;
                padding: 60px 0;
            }    

    .button {
        display: inline-block;
        padding: 11px 35px;
        border:3px solid #17ff83;
        background: #0aaa3d;
        z-index: 1;
        overflow: hidden;
        position: relative;
        color: black;
        text-transform: uppercase; 
        text-decoration: none; 
        cursor: pointer;  
        border-radius: 10px;
        font-weight: 500;
        letter-spacing: 5px;
        transition: all 0.3s ease;
    }
    .button::before {
        content: "";
        width: 100%;
        height: 200%;
        top: -200%;
        border-radius: 50%;
        left: 0;
        background: #0f9b0f;
        position: absolute;
        z-index: -1;
        transition: all 0.8s ease;
    }
    .button:hover::before {
        top: 0;
        border-radius: 0;
    }
    .button:hover {
        color: white;
        border: 0;
        padding: 14px 38px;
    }

    .unid {
    padding: 100px 0;
    background-color: #E1E2E6;
    } 
    .unid-content  {
    text-align: center;
    }
    .titulo {

        font-size: 50px;
        font-family: 'Yeseva One';
        text-transform: uppercase;
        margin-bottom: 40px;
        color: #fff;
    }
    .tit {
    text-align: center;
    margin-top: 100px;
    height: 50vh;
    }
    .titulos {
        font-size: 50px;
        line-height: 70px;
        text-transform: uppercase;
        text-align: center;
        padding: 0 50px;
        margin-bottom: 25px;
        }
        .titu {
        margin-top: 40px; 
        color: #fff;   
        }
    .txt-p {
    font-size: 16px;
    padding: 0 250px;
    margin-bottom: 35px;    
    }
    .unid-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;    
    }
    .unid-1 {
    padding: 0 25px;    
    }
    .unid-1 img {
    width: 200px;   
    }
    .unid-1:hover img {
        width: 200px;
        transition: all 2s ease-in-out;
        animation: anim 0.8s infinite;   
        }
        @keyframes anim {
            50% {
                transform: rotateZ(20deg) translateX(20px);
            }
            100% {
                transform: rotateZ(-10deg) translateX(-10px);
            }
        }
    section {
        margin: 0 auto;
        height: 70vh;
    }
    .unis {
        margin: auto auto;
        position: relative; 
        text-align: center; 
        color: #fff;  
    }
    .agri {
        background:url(../img/naturales.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
    }
    .aves {
        background: url(../img/avicultura.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .gana {
        background-image: url(../img/ganaderia.jpg);
        background-size: cover; 
        background-position: center center;
        background-repeat: no-repeat;
    }
    .product {
        height: auto;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
    }
    .prod {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-bottom: 30px;
    }
    .col {
        display: flex;
        justify-content: center;
    }
    .product .titulos {
       font-size: 45px; 
    }
    .titu {
        margin-top: 80px;
        text-align: center;
        color: #fff;
    }
    .gener {
        display: flex;
        height: auto;
    }
    .texto {
        display: flex;
        width: 50%;
        padding: 80px 40px;
    }
    .imagen {
        background-image: url(../img/natu.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
    }
    .texto p {
        font-size: 24px;
        color: white;
        text-align: start;
    }
    .imagen-2 {
        background-image: url(../img/gallina.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
    }
    .imagen-3 {
        background-image: url(../img/lacteo.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
    }
    .card img {
        height: 300px;
    }
    .ag {
        background: #66f43f;
    }
    .ag p {
        color:rgb(33, 29, 29);
    }
    .av {
        background: #0aaa3d
    }
    .gn {
        background: #37be37
    }
    figure.snip1321 {
        font-family: 'Raleway', Arial, sans-serif;
        position: relative;
        overflow: hidden;
        min-width: 230px;
        max-width: 315px;
        width: 100%;
        color: #000000;
        text-align: center;
        -webkit-perspective: 50em;
        perspective: 50em;
        border-radius: 10px;
      }
      figure.snip1321 * {
        -webkit-box-sizing: padding-box;
        box-sizing: padding-box;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
      figure.snip1321 img {
        max-width: 100%;
        vertical-align: top;
      }
      figure.snip1321 figcaption {
        top: 50%;
        left: 20px;
        right: 20px;
        position: absolute;
        opacity: 0;
      }
      figure.snip1321 h2,
      figure.snip1321 h4 {
        margin: 0;
      }
      figure.snip1321 h2 {
        font-weight: 600;
      }
      figure.snip1321 h4 {
        font-weight: 400;
        text-transform: uppercase;
      }
      figure.snip1321 i {
        font-size: 32px;
      }
      figure.snip1321:after {
        background-color: #ffffff;
        position: absolute;
        content: "";
        display: block;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 0;
      }
      figure.snip1321:hover figcaption,
      figure.snip1321.hover figcaption {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        opacity: 1;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
      }
      figure.snip1321:hover:after,
      figure.snip1321.hover:after {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        opacity: 0.8;
      }
  /*modernizr*/
  .no-boxshadow * {
    box-shadow: none;
    }
    .no-cssgradients nav a:hover {
    background-color: #36be46;
    color: #fff;
    }    
    .no-flexbox .nave {
    display: inline-block;
    width: 100%;
    }

      
    @media (max-width:1024px) {
        .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        align-items: center;    
        background: rgb(33, 29, 29);
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        }
        .open-menu,.close-menu{
            display: block;  
            background:none;
            border: none; 
            align-self: flex-end;
            margin: 15px 35px;
            cursor: pointer;
            }
            .menu_opened {
            opacity: 1;
            pointer-events: all;    
            }
            a {
                width: 91%;    
                text-align: center;
                border-radius: 5px;
                }
                nav a:hover  {
                  background-image: linear-gradient(to left, #434343 0%, rgb(47, 43, 43) 100%);
                  height:auto;
                  }
            .social-media{
                width: 100%;
                justify-content: space-evenly;
            }
        
            .social-media-icon{
                margin-left: 0;
            }
        
            .contact-us{
                text-align: center;
                width: 95%;
                margin-bottom: 40px;
            }
            .contact-us img {
                width: 50%;
                height: 50%;
                margin: auto 120px;    
            }
            a:hover {
                height: auto;    
                }
            .unid {
                padding: 30px;    
            }
            .titulos {
                padding: 0;
                margin-top: 30px;
            }
            .txt-p {
               padding: 0; 
            }
            .unid-group {
               flex-direction: column; 
            }
            .button {
              width: 40%;  
            }
            .gener {
              flex-direction: column;  
            }
            .texto {
              width: 100%;
              padding: 30px;
              text-align: center;  
            }
            .texto p {
                font-size: 24px;
            }
            .imagen {
              display: none; 
            }
            .card img {
                height: 300px;
            }
            section {
                height: 50vh;
            }
        }
        @media screen and (max-width:600px) {
            .titulo,.brand,.titulos {
                font-size: 30px !important;
            }
            header {
                height: 80vh;
            }
            .btn-volver img {
          width:30px;
      }
      .button {
          width:auto;
      }
                .button:hover {
        color: white;
        border: 0;
        padding: 15px 15px;
    }
            .wave {
                top: 60vh;
                display: block;
               }
            .logo img {
                width:180px;
                height:80px;
            }
            .card img {
                height: 150px;
            }
            .texto p {
                font-size: 20px;
            }
            section {
                height: 40vh;
            }
            .unid-1 img {
                width: 120px;
            }
            .unid-1 a {
                font-size: 14px;
                padding: 8px 5px;
                margin-bottom: 20px;
            }
        }
